name: CICD Nonprod

on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]

env:
  AZURE_FUNCTIONAPP_NAME: 'domtest-dev'
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'source/domtest'
  DOTNET_VERSION: '6.0.x'

jobs:
  build-and-deploy:
    uses: dominicle-relativity/dom-test/.github/workflows/cicd-base.yml@develop
    with:
      environment: dev
      appName: "some-app"