name: CICD Base

on:
  workflow_call:
    inputs:
      appName:
        required: true
        type: string
      environment:
        required: true
        type: string
      azureFunctionSolutionPath:
        required: true
        type: string
      artifactoryKeyVaultName:
        required: false
        type: string
        default: 'R1-SecIAM-GitHub'
      dotNetVersion:
        required: false
        type: string
        default: '6.0.x'
      azureTenantId:
        required: false
        type: string
        default: '8afe73f9-0d93-4821-a898-c5c2dc320953'
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_CLIENT_SECRET:
        required: true

jobs:
  build-and-deploy:
      runs-on: windows-latest
      environment: ${{ inputs.environment }}
      steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v4

      - name: 'Get Version'
        run: |
          $version = cat version.txt
          echo "VERSION=$version" >> $env:GITHUB_ENV

      - name : 'Check if Tag Exists'
        uses: mukunku/tag-exists-action@v1.4.0
        id: checkTag
        with:
          tag: ${{ env.VERSION }}

#      - name: 'Verify Version Bump'
#        shell: pwsh
#        run: |
#          if($${{ steps.checkTag.outputs.exists }}) {
#            Write-Host "Version needs to be bumped"
#            exit 1
#          }
#
#      - name: 'Tag Branch'
#        uses: actions/github-script@v6
#        with:
#          script: |
#            github.rest.git.createRef({
#              owner: context.repo.owner,
#              repo: context.repo.repo,
#              ref: 'refs/tags/${{ env.VERSION }}',
#              sha: context.sha
#            })

      - name: 'Login to Azure service principal'
        uses: Azure/login@v1
        with:
          creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}", "tenantId":"${{ inputs.azureTenantId }}"}'
          allow-no-subscriptions: true

      - name: 'Setup DotNet ${{ inputs.dotNetVersion }} Environment'
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ inputs.dotNetVersion }}

#      - name: Unregister globally available repositories from Nuget/NPM
#        uses: relativityone/build-extension/unregister-artifact-sources@main
#
#      - name: Register Nuget Artifactory
#        uses: relativityone/build-extension/artifactory-setup@main
#        with:
#            KeyVaultName: ${{inputs.artifactoryKeyVaultName}}
#            ArtifactType: 'nuget'
#            Repository: 'nuget-anthology'

      - name: 'Dotnet Build'
        shell: pwsh
        run: |
          pushd './${{ inputs.azureFunctionSolutionPath }}'
          $absolutePublishDir = $pwd.Path + '\output'
          dotnet build --configuration Release --property:OutputPath=$absolutePublishDir
          Compress-Archive -Path "./output/*" -DestinationPath ${{ inputs.appName }}_${{ env.VERSION }}.zip -Force
          popd

      - name: 'Execute unit tests'
        run: dotnet test ${{ inputs.azureFunctionSolutionPath }} --filter FullyQualifiedName!~IntegrationTests

      - name: 'Upload Build Artifact to Regression Storage Account'
        shell: pwsh
        run: |
          pushd './${{ inputs.azureFunctionSolutionPath }}'
          ls
          az storage blob upload --auth-mode login --account-name cloudsecurityartifacts --container-name cloudsecurityartifacts --file ${{ inputs.appName }}_${{ env.VERSION }}.zip --name ${{ inputs.appName }}_${{ env.VERSION }}.zip --overwrite true
          popd

      - name: 'Publish'
        shell: 'pwsh'
        run: |
          .\scripts\Promote-Artifact.ps1 -SourceStorageAccount @{} -DestinationStorageAccounts @(@{}) -BlobName 'name'