name: CICD Base

on:
  workflow_call:
    inputs:
      appName:
        required: true
        type: string
      environment:
        required: true
        type: string
      azureFunctionSolutionPath:
        required: true
        type: string
      artifactoryKeyVaultName:
        required: true
        type: string
      sourceBuildArtifactStorageAccount:
        required: true
        type: string
      destinationBuildArtifactStorageAccounts:
        required: true
        type: string
      dotNetVersion:
        required: false
        type: string
        default: '6.0.x'
      azureTenantId:
        required: false
        type: string
        default: '8afe73f9-0d93-4821-a898-c5c2dc320953'
      deploymentSlot:
        required: false
        type: string
        default: 'production'
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_CLIENT_SECRET:
        required: true
      AZURE_FUNCTION_PUBLISH_PROFILE:
        required: true

jobs:
  build-test-publish-promote:
    runs-on: windows-latest
    environment: ${{ inputs.environment }}
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Get Version
      id: get_version
      run: |
        $version = cat version.txt
        echo "version=$version" >> $env:GITHUB_ENV
        echo "version=$version" >> $env:GITHUB_OUTPUT
    
    - name: Verify Latest Version Match in version.txt and changelog.md
      shell: pwsh
      run: |
        if(!(Test-Path changelog.md)){
          Write-Host 'changelog.md does not exist in root directory of repo'
          exit 1
        }
        $re  = '\d+\.\d+\.\d+'
        $versions = cat .\changelog.md | Select-String -Pattern $re
        if($versions.Matches.Count -eq 0){
          Write-Host 'No semantic versions matching the regex $re found in changelog.md'
          exit 1
        }
        $latestVersion = $versions.Matches[0].Value
        if($latestVersion -ne '${{ env.version }}'){
          Write-Host 'Latest version in changelog.md does not match version in version.txt'
          exit 1
        }

    - name : Check if Tag Exists
      uses: mukunku/tag-exists-action@v1.4.0
      id: checkTag
      with:
        tag: ${{ env.version }}

    - name: Verify Version Bump
      shell: pwsh
      run: |
        if($${{ steps.checkTag.outputs.exists }}) {
          Write-Host "Version needs to be bumped"
          exit 1
        }

    - name: Setup DotNet ${{ inputs.dotNetVersion }} Environment
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ inputs.dotNetVersion }}

#      - name: Unregister globally available repositories from Nuget/NPM
#        uses: relativityone/build-extension/unregister-artifact-sources@main
#
#      - name: Register Nuget Artifactory
#        uses: relativityone/build-extension/artifactory-setup@main
#        with:
#            KeyVaultName: ${{inputs.artifactoryKeyVaultName}}
#            ArtifactType: 'nuget'
#            Repository: 'nuget-anthology'

    - name: Dotnet Build
      shell: pwsh
      run: |
        pushd './${{ inputs.azureFunctionSolutionPath }}'
        $absolutePublishDir = $pwd.Path + '\output'
        dotnet build --configuration Release --property:OutputPath=$absolutePublishDir
        Compress-Archive -Path "./output/*" -DestinationPath ${{ inputs.appName }}_${{ env.version }}.zip -Force
        popd

#    - name: Execute Unit Tests
#      run: dotnet test ${{ inputs.azureFunctionSolutionPath }} --filter FullyQualifiedName!~IntegrationTests
#
#    - name: Login to Azure Service Principal
#      uses: Azure/login@v1
#      with:
#        creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}", "tenantId":"${{ inputs.azureTenantId }}"}'
#        allow-no-subscriptions: true
#        enable-AzPSSession: false
#
#    - name: Run Azure Functions Action
#      uses: Azure/functions-action@v1
#      with:
#        app-name: ${{ inputs.appName }}
#        package: '${{ inputs.azureFunctionSolutionPath }}/output'
#        publish-profile: ${{ secrets.AZURE_FUNCTION_PUBLISH_PROFILE }}
#        slot-name: '${{ inputs.deploymentSlot }}'
#
#    - name: Execute Integration Tests
#      run: dotnet test ${{ inputs.azureFunctionSolutionPath }} --filter IntegrationTests
#
#    - name: Upload Build Artifact to Regression Storage Account
#      if: github.event_name == 'push'
#      shell: pwsh
#      run: |
#        pushd './${{ inputs.azureFunctionSolutionPath }}'
#        $sourceStorageAccount = ${{ inputs.sourceBuildArtifactStorageAccount }}
#        az storage blob upload --auth-mode login --account-name $sourceStorageAccount.storageAccountName --container-name $sourceStorageAccount.storageBlobContainerName --file ${{ inputs.appName }}_${{ env.version }}.zip --name ${{ inputs.appName }}_${{ env.VERSION }}.zip --overwrite true
#        popd
#
#    - name: Promote Build Artifact to All Azure Directories
#      if: github.event_name == 'push'
#      shell: 'pwsh'
#      run: |
#        $sourceStorageAccount = ${{ inputs.sourceBuildArtifactStorageAccount }}
#        $destinationStorageAccounts = ${{ inputs.destinationBuildArtifactStorageAccounts }}
#        .\scripts\Promote-Artifact.ps1 -SourceStorageAccount $sourceStorageAccount -DestinationStorageAccounts $destinationStorageAccounts -BlobName ${{ inputs.appName }}_${{ env.version }}.zip
#
    - name: Tag Branch
      uses: actions/github-script@v6
      if: github.event_name == 'push'
      with:
        script: |
          github.rest.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: 'refs/tags/${{ env.version }}',
            sha: context.sha
          })

    - name: Create Release
      if: github.event_name == 'push'
      shell: 'pwsh'
      run: |
        pushd './${{ inputs.azureFunctionSolutionPath }}'
        gh release create ${{env.version}} ${{ inputs.appName }}_${{ env.version }}.zip
        popd
      env:
        GH_TOKEN: ${{ github.token }}
