name: CICD Nonprod

on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]

jobs:
  cicd:
    uses: dominicle-relativity/dom-test/.github/workflows/cicd-base.yml@develop
    with:
      environment: ${{ github.event_name == 'pull_request' && integration || dev }}
      blobNamePrefix: 'dom-az-function'
      azureFunctionName: 'dom-az-function'
      azureFunctionSolutionPath: 'source/'
      artifactoryKeyVaultName: 'R1-SecIAM-GitHub'
      azureFunctionSlot: ${{ github.event_name == 'pull_request' && integration || production }}
      sourceBuildArtifactStorageAccount: >
        @{
          storageBlobContainerName = "cloudsecurityartifacts";
          storageAccountName = "cloudsecurityartifacts";
          resourceGroupName = "Security_Resources";
          subscriptionId = "1a761e29-40ec-4ba8-8b66-c2599ac74c49";
          tenantId = "8afe73f9-0d93-4821-a898-c5c2dc320953"
        }
      destinationBuildArtifactStorageAccounts: >
        @(
          @{
            storageBlobContainerName = "cloudsecprodartifacts";
            storageAccountName = "cloudsecprodartifacts";
            resourceGroupName = "R1-CloudSecurity";
            subscriptionId = "c9a66f82-9d86-4d64-b0d5-eb645744dd62";
            tenantId = "98b658f5-ca7d-43c3-8157-6554f853a01b"
          }
        )
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_FUNCTION_PUBLISH_PROFILE: ${{ secrets.AZURE_FUNCTION_PUBLISH_PROFILE }}