name: CICD Nonprod

on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]

env:
  AZURE_FUNCTIONAPP_NAME: 'dom-az-function'
  DOTNET_VERSION: '6.0.x'

jobs:
  build-and-deploy:
    uses: dominicle-relativity/dom-test/.github/workflows/cicd-base.yml@develop
    with:
      environment: dev
      appName: "some-app"
      azureFunctionSolutionPath: 'source/'
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_FUNCTION_PUBLISH_PROFILE: ${{ secrets.AZURE_FUNCTION_PUBLISH_PROFILE }}